#root {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#user {
    margin-left: auto;
    margin-right: 50px;
    display: grid; 
    grid-template-rows: repeat(10, 30px); 
    grid-template-columns: repeat(10, 30px);
}
#comp {
    margin-right: auto;
    margin-right: 50px;
    display: grid; 
    grid-template-rows: repeat(10, 30px); 
    grid-template-columns: repeat(10, 30px);
}

.shoted {

    animation-name: blinker;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 1s;

    border-style: solid;
    background: gray !important;
    border-color: red !important;
    border-radius: 5px;
    margin: 0;
}

@keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }
   


.killed {
    border-style: solid;
    border-color: red !important;
    border-radius: 5px;
    margin: 0;
}

.empty {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 2px;
    margin: 1px;
}

.ship {
    border-radius: 5px;
    background: blue;
    margin: 0;
}

.test {
    background: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 2px;
}