#userField {
    margin: 0 30% 0 30%; 
    display: grid; 
    grid-template-rows: repeat(10, 30px); 
    grid-template-columns: repeat(10, 30px);
}
.empty {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 2px;
}

.ship {
    border-radius: 5px;
    background: blue;
    margin: 0;
}

.test {
    background: gray;
}