.empty {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 2px;
}

.ship {
    border-radius: 5px;
    background: blue;
    margin: 0;
}

.test {
    background: gray;
}